/* General Settings */
html {
    scroll-behavior: smooth;
}

/* Custom Row - Three Columns in One Row */
.custom-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    background: url('../../assets/images/programbg.png') no-repeat center center/cover;
    padding-top: 90px;
    border-top: solid #ffc400 10px;
}

/* Custom Column */
.custom-column {
    width: 30%;
    min-width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(53, 53, 53);
    font-size: 1rem;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s ease-in-out;
    border: 1px solid #ffc400;
    border-radius: 20px;
    margin-bottom: 30px;
}

/* Column Image */
.column-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Content Wrapper */
.content-wrapper {
    text-align: left;
}

/* H6 with Icon */
.h6-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.h6-wrapper h6 {
    color: orange;
    font-size: 1rem;
    margin-left: 10px;
}

.zodiac-icon {
    width: 30px;
    height: 30px;
}

/* Icon Wrapper */
.icon-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.icon-wrapper img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.icon-wrapper h4 {
    font-size: 1.3rem;
    color: #666;
    margin: 0;
}

/* Button */
.discover-button {
    padding: 12px 30px;
    font-size: 1rem;
    color: #ffffff;
    background: linear-gradient(135deg, #ffcb30, #ff8a00);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.3s ease, box-shadow 0.4s ease;
    margin-top: 10px;
}

.discover-button:hover {
    background: linear-gradient(45deg, #ffffff, #ffffff);
    transform: translateY(-5px) scale(1.1);
    color: #1c1c1c;
    border: 1px solid #1c1c1c;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .custom-row {
        flex-direction: column;
        gap: 20px;
    }
    .custom-column {
        width: calc(100% - 40px); /* Adjust width to account for margins */
        margin: 0 20px; /* Add 20px margin on both sides */
        height: auto;
    }
    .content-wrapper {
        padding: 20px;
    }
    .h6-wrapper h6 {
        font-size: 1rem;
        text-align: center;
    }
    .content-wrapper h2 {
        font-size: 2rem;
        text-align: center;
    }
    .content-wrapper p {
        font-size: 1rem;
        margin-left: 0;
    }
    .icon-wrapper {
        justify-content: center;
    }
    .discover-button {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .custom-row {
        flex-direction: column;
        gap: 15px;
    }
    .custom-column {
        width: 90%;
    }
    .content-wrapper {
        padding: 15px;
    }
    .content-wrapper h2 {
        font-size: 1.5rem;
    }
    .content-wrapper h4 {
        font-size: 1rem;
    }
    .content-wrapper p {
        font-size: 1rem;
        text-align: justify;
    }
    .icon-wrapper {
        justify-content: center;
    }
    .discover-button {
        padding: 10px 20px;
        font-size: 0.9rem;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .h6-wrapper {
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
    .h6-wrapper h6 {
        font-size: 0.9rem;
        text-align: center;
    }
    .zodiac-icon {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
}