@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

.hero-section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/images/HeropageBg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    position: relative; /* Ensure the hero section is positioned relative to contain the navbar */
}

.hero-content {
    z-index: 1;
    text-align: center; /* Center text for better responsiveness */
}

.hero-title {
    font-size: 5rem; /* Increased font size */
    font-weight: 700;
    color: #4a4a4a;
    line-height: 1.2;
    margin-top: 20px;
}

.hero-subtitle {
    font-size: 1rem;
    margin-top: 1rem;
    color: #666666;
    line-height: 1.6;
    font-weight: 100;
}

.hero-content .btn {
    padding: 12px 30px;
    font-size: 1rem;
    color: #ffffff;
    background: linear-gradient(135deg, #ffcb30, #ff8a00);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.3s ease, box-shadow 0.4s ease;
    margin-top: 10px;
}

.hero-content .btn:hover {
    transform: translateY(1px) scale(1.01);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
    opacity: 1;
    /* Slightly enlarge on hover */
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    max-width: 100%;
    text-align: center;
}

.image-wrapper img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin-top: 20px;
}

/* Media Queries for Responsiveness */

/* For devices with width less than 1200px (e.g., laptops) */
@media (max-width: 1199px) {
    .hero-title {
        font-size: 4rem; /* Adjusted font size for responsiveness */
    }
    .hero-subtitle {
        font-size: 1rem;
    }
    .hero-content .btn {
        font-size: 0.9rem;
        padding: 0.6rem 1.2rem;
    }
    .image-wrapper img {
        margin-top: 20px;
    }
}

/* For tablets (width less than 768px) */
@media (max-width: 767px) {
    .hero-section {
        height: auto;
        padding: 20px;
    }
    .hero-title {
        font-size: 3rem; /* Adjusted font size for responsiveness */
    }
    .hero-subtitle {
        font-size: 1rem;
    }
    .hero-content .btn {
        font-size: 0.9rem;
        padding: 0.6rem 1.2rem;
    }
    .image-wrapper img {
        margin-top: 20px;
    }
}

/* For mobile devices (width less than 480px) */
@media (max-width: 479px) {
    .hero-section {
        height: auto;
        padding: 20px;
        flex-direction: column-reverse;
        background-image: url('../../assets/images/MobileHero.png');
    }
    .hero-image {
        width: 100%;
        margin-top: 20px;
    }
    .hero-title {
        font-size: 3rem; /* Adjusted font size for responsiveness */
        margin-top: 100px;
        /* Adjusted margin for better spacing */
        line-height: 1.2;
        text-align: center;
        color: #2f2f2fed;
        font-weight: bold;
    }
    .hero-subtitle {
        font-size: 1rem;
        line-height: 1.6;
        margin-bottom: 10px;
        text-align: center;
        color: #464646;
        font-weight: 500;
        margin-bottom: 20px;
        /* Removed negative margin */
    }
    .hero-content .btn {
        font-size: 1rem;
        padding: 0.8rem 1.2rem;
        display: block;
        /* Makes the button behave like a block-level element */
        margin-left: auto;
        /* Auto margin on left side */
        margin-right: auto;
        /* Auto margin on right side */
    }
    .image-wrapper img {
        margin-top: 0;
        /* Removed large negative margin */
    }
}

/* General Popup Overlay Styling */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup {
    background: linear-gradient(184deg, #ffffff 0%, rgba(255, 235, 191, 0.793) 100%);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    max-width: 90%;
    width: 100%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

/* Popup Content Layout */
.popup-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.popup-left,
.popup-right {
    flex: 1;
    padding: 10px;
    min-width: 300px;
    /* Ensures a reasonable minimum width */
}

.popup-left {
    border-right: 1px solid #373737;
    text-align: center;
}

.popup-right {
    padding-left: 20px;
    padding-top: 40px;
}

.popup-logo {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 50%;
}

/* Title and Description Styling */
.popup-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #373737;
    margin-bottom: 10px;
}

.popup-description {
    font-size: 0.9rem;
    color: #373737;
    margin-bottom: 20px;
}

.popup-description-2 {
    font-size: 0.8rem;
    color: #373737;
    margin-bottom: 20px;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Form Row Layout */
.form-row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.form-group {
    flex: 1;
}

.col-service {
    flex: 3;
}

.col-submit {
    flex: 1;
    display: flex;
    align-items: flex-end;
}

select,
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: .9rem;
}

select:focus,
input:focus {
    outline: none;
    border-color: #ffe100;
    box-shadow: 0 0 5px rgba(255, 175, 140, 0.5);
}

label {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

/* Submit Button */
.btn-submit {
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #ffcb30, #ff8a00);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Fade-in Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.popup {
    animation: fadeIn 0.3s ease-in-out;
}

/* Responsive Design */
@media (max-width: 992px) {
    /* Tablets and smaller laptops */
    .popup-content {
        flex-direction: column;
        align-items: center;
    }
    .popup-left {
        border-right: none;
    }
    .popup-right {
        padding-left: 0;
        padding-top: 20px;
    }
}

@media (max-width: 576px) {
    /* Mobile screens */
    .popup-logo {
        display: none;
    }
    .popup-title {
        display: none;
    }
    .popup-title-right {
        margin-top: -50px;
    }
    .popup-description {
        display: none;
    }
    .popup-description-2 {
        font-size: 0.7rem;
    }
    form {
        gap: 10px;
    }
    .form-row {
        flex-direction: column;
    }
    .btn-submit {
        font-size: 0.9rem;
        padding: 8px;
    }
}
