.user-feedback-section {
    width: 100%;
    background: linear-gradient(135deg, #ffcb30, #ff8a00);
    padding: 30px 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    margin-top: -20px;
}

.moving-text {
    display: flex;
    white-space: nowrap;
    animation: scrollText 15s linear infinite;
    align-items: center;
}

.icon-word-pair {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.icon {
    margin-right: 8px;
    font-size: 38px;
    color: #fff;
}

.moving-text span {
    font-size: 25px;
    color: #fff;
}

@keyframes scrollText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}


/* Responsive adjustments */

@media (max-width: 768px) {
    .moving-text span {
        font-size: 20px;
    }
    .icon {
        font-size: 32px;
    }
    .icon-word-pair {
        margin-right: 20px;
    }
    .moving-text {
        animation: scrollText 18s linear infinite;
    }
}

@media (max-width: 480px) {
    .moving-text span {
        font-size: 18px;
    }
    .icon {
        font-size: 28px;
    }
    .icon-word-pair {
        margin-right: 15px;
    }
    .moving-text {
        animation: scrollText 20s linear infinite;
    }
}