/* Navbar Styles */

.custom-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Logo */

.navbar-logo {
    height: 50px;
    width: auto;
}


/* Navigation Links */

.nav-link {
    font-size: 16px;
    color: #555 !important;
    margin-right: 30px;
}

.nav-link:hover {
    color: #ffa600 !important;
    text-decoration: underline;
}


/* Bell Icon */

.bell-icon {
    font-size: 20px;
    color: #555;
    cursor: pointer;
}

.bell-icon:hover {
    color: #ffa600;
}


/* Search Field */

.search-form {
    position: relative;
}

.search-input {
    border-radius: 10px 0 0 10px;
    border: 1px solid #ddd;
    padding-left: 10px;
    width: 150px;
    transition: width 0.3s;
}

.search-input:focus {
    width: 200px;
    outline: none;
}

.search-btn1 {
    border-radius: 0 10px 10px 0;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    padding: 6px;
}

.search-btn1:hover {
    background: linear-gradient(135deg, #ff6b81, #ff7f50);
}


/* Buttons */

.btn1 {
    color: #303030;
    padding: 10px 20px;
    border: 1px solid #3030306f;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn1:hover {
    background: linear-gradient(135deg, #ff6b81, #ff7f50);
    color: #ffffff;
}

.btn2 {
    background: linear-gradient(135deg, #ff7f50, #ff8800);
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.btn2:hover {
    background: linear-gradient(135deg, #ff6b81, #ff7f50);
    color: #fff;
}


/* Responsive Fix */

@media (max-width: 768px) {
    .search-input {
        width: 200px;
    }
    .btn1,
    .btn2 {
        width: 100%;
        margin-top: 10px;
    }
}