/* General Footer Styles */

.footer {
    background: linear-gradient(135deg, #ffffff, #ffffff);
    color: #272727;
    padding: 60px 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    border-top: 1px solid #ffce79;
    /* Add a top border line */
}


/* Footer Container */

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


/* Logo and Name Section */

.footer-left {
    flex: 1;
    max-width: 300px;
    margin-bottom: 30px;
    text-align: left;
}

.footer-logo {
    max-width: 80px;
    align-items: center;
}

.footer-name {
    font-size: 1.5em;
    color: #272727;
    font-weight: bold;
    margin-top: 10px;
}


/* Quick Links and Contact Section */

.footer-right {
    flex: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.footer-links,
.footer-contact {
    flex: 1;
    max-width: 250px;
    margin-bottom: 20px;
    text-align: left;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 12px;
}

.footer-links a {
    color: #272727;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #f4a261;
}

.footer-contact p {
    font-size: 1em;
    margin: 10px 0;
    color: #272727;
}

.footer-contact a {
    color: #7483f7;
    text-decoration: none;
}

.footer-contact a:hover {
    color: #f4a261;
}


/* Social Media Icons */

.footer-social {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}

.social-icon {
    color: #323232;
    font-size: 1.5em;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
    color: #ffb300;
    transform: scale(1.2);
}


/* Footer Bottom Section */

.footer-bottom {
    margin-top: 40px;
    font-size: 0.9em;
    color: #959595;
    border-top: 2px solid #f4a261;
    /* Add a line between content and copyright */
    padding-top: 20px;
}


/* Responsive Design */

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
    .footer-left {
        margin-bottom: 30px;
        text-align: center;
        /* Center the name and logo */
    }
    .footer-logo {
        margin: 0 auto;
    }
    .footer-right {
        flex-direction: column;
        align-items: center;
    }
    .footer-links,
    .footer-contact {
        margin-bottom: 30px;
    }
}